In [120]:
import pandas as pd
import numpy as np

In [121]:
typed = pd.read_json('./rawData/cleanedTyped.json')

In [123]:
typed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41918 entries, 0 to 9999
Data columns (total 48 columns):
Balcony                 41918 non-null int64
Cats_Allowed            41918 non-null int64
Common_Outdoor_Space    41918 non-null int64
Dining_Room             41918 non-null int64
Dishwasher              41918 non-null int64
Dogs_Allowed            41918 non-null int64
Doorman                 41918 non-null int64
Elevator                41918 non-null int64
Exclusive               41918 non-null int64
Fitness_Center          41918 non-null int64
Garden_Patio            41918 non-null int64
Hardwood_Floors         41918 non-null int64
High_Speed_Internet     41918 non-null int64
Laundry_in_Unit         41918 non-null int64
New_Construction        41918 non-null int64
No_Fee                  41918 non-null int64
Outdoor_Space           41918 non-null int64
Pre_War                 41918 non-null int64
Roof_Deck               41918 non-null int64
Swimming_Pool           41918 non-null int64
Terrace                 41918 non-null int64
Wheelchair_Access       41918 non-null int64
apartment               41918 non-null int64
bathrooms               41918 non-null float64
bedrooms                41918 non-null int64
building_id             41918 non-null object
condominium             41918 non-null int64
created                 41918 non-null object
description             41918 non-null object
display_address         41918 non-null object
features                41918 non-null object
foundType               41918 non-null bool
interestVal             41918 non-null float64
interest_level          41918 non-null object
latitude                41918 non-null float64
laundry_in_building     41918 non-null int64
listing_id              41918 non-null int64
loft                    41918 non-null int64
longitude               41918 non-null float64
manager_id              41918 non-null object
other                   41918 non-null int64
ph                      41918 non-null int64
price                   41918 non-null int64
street_address          41918 non-null object
studio                  41918 non-null int64
townhome                41918 non-null int64
type                    41918 non-null object
walk_up                 41918 non-null int64
dtypes: bool(1), float64(4), int64(34), object(9)
memory usage: 15.4+ MB

In [124]:
interaction = pd.read_json('./typedData/withInteraction.json')
interaction['price_per_num_lux'] = interaction['price']/interaction['num_luxury']

In [125]:
typeCols = typed.columns
interCols = interaction.columns

In [126]:
interCols = [x for x in interCols if x not in typeCols]

In [127]:
typeCols

Index(['Balcony', 'Cats_Allowed', 'Common_Outdoor_Space', 'Dining_Room',
       'Dishwasher', 'Dogs_Allowed', 'Doorman', 'Elevator', 'Exclusive',
       'Fitness_Center', 'Garden_Patio', 'Hardwood_Floors',
       'High_Speed_Internet', 'Laundry_in_Unit', 'New_Construction', 'No_Fee',
       'Outdoor_Space', 'Pre_War', 'Roof_Deck', 'Swimming_Pool', 'Terrace',
       'Wheelchair_Access', 'apartment', 'bathrooms', 'bedrooms',
       'building_id', 'condominium', 'created', 'description',
       'display_address', 'features', 'foundType', 'interestVal',
       'interest_level', 'latitude', 'laundry_in_building', 'listing_id',
       'loft', 'longitude', 'manager_id', 'other', 'ph', 'price',
       'street_address', 'studio', 'townhome', 'type', 'walk_up'],
      dtype='object')

In [128]:
interCols

['Loft',
 'ada',
 'door_excl',
 'fitness_oriented',
 'lux_score',
 'num_features',
 'num_luxury',
 'outdoor_score',
 'pets_allowed',
 'price_per_num_lux']

In [129]:
m1 = pd.DataFrame(interaction[interCols])
m1.drop('Loft', axis=1, inplace=True)
m1.replace(np.inf, np.nan, inplace=True)

In [130]:
m1.head()

,ada,door_excl,fitness_oriented,lux_score,num_features,num_luxury,outdoor_score,pets_allowed,price_per_num_lux
0,0,0,0,0.0,0,0,0.0,0,NaN
1,0,0,0,0.3,5,3,0.0,1,1821.666667
10,0,0,0,0.4,6,4,0.0,0,1300.000000
100,0,0,0,0.0,1,0,0.0,0,NaN
1000,0,0,0,0.4,7,4,0.0,0,575.000000

In [131]:
interaction_typed = pd.concat([typed, m1], axis=1)

In [132]:
interaction_typed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41918 entries, 0 to 9999
Data columns (total 57 columns):
Balcony                 41918 non-null int64
Cats_Allowed            41918 non-null int64
Common_Outdoor_Space    41918 non-null int64
Dining_Room             41918 non-null int64
Dishwasher              41918 non-null int64
Dogs_Allowed            41918 non-null int64
Doorman                 41918 non-null int64
Elevator                41918 non-null int64
Exclusive               41918 non-null int64
Fitness_Center          41918 non-null int64
Garden_Patio            41918 non-null int64
Hardwood_Floors         41918 non-null int64
High_Speed_Internet     41918 non-null int64
Laundry_in_Unit         41918 non-null int64
New_Construction        41918 non-null int64
No_Fee                  41918 non-null int64
Outdoor_Space           41918 non-null int64
Pre_War                 41918 non-null int64
Roof_Deck               41918 non-null int64
Swimming_Pool           41918 non-null int64
Terrace                 41918 non-null int64
Wheelchair_Access       41918 non-null int64
apartment               41918 non-null int64
bathrooms               41918 non-null float64
bedrooms                41918 non-null int64
building_id             41918 non-null object
condominium             41918 non-null int64
created                 41918 non-null object
description             41918 non-null object
display_address         41918 non-null object
features                41918 non-null object
foundType               41918 non-null bool
interestVal             41918 non-null float64
interest_level          41918 non-null object
latitude                41918 non-null float64
laundry_in_building     41918 non-null int64
listing_id              41918 non-null int64
loft                    41918 non-null int64
longitude               41918 non-null float64
manager_id              41918 non-null object
other                   41918 non-null int64
ph                      41918 non-null int64
price                   41918 non-null int64
street_address          41918 non-null object
studio                  41918 non-null int64
townhome                41918 non-null int64
type                    41918 non-null object
walk_up                 41918 non-null int64
ada                     41918 non-null int64
door_excl               41918 non-null int64
fitness_oriented        41918 non-null int64
lux_score               41918 non-null float64
num_features            41918 non-null int64
num_luxury              41918 non-null int64
outdoor_score           41918 non-null float64
pets_allowed            41918 non-null int64
price_per_num_lux       31650 non-null float64
dtypes: bool(1), float64(7), int64(40), object(9)
memory usage: 18.3+ MB

In [133]:
interaction_typed['price_per_feature'] = interaction_typed['price']/interaction_typed['num_features']

In [134]:
interaction_typed['price_per_feature'].replace(np.inf, np.nan, inplace=True)

In [135]:
g1 = interaction_typed.groupby(['type']).mean()
g1.reset_index(inplace=True)

In [136]:
g1.head()

,type,Balcony,Cats_Allowed,Common_Outdoor_Space,Dining_Room,Dishwasher,Dogs_Allowed,Doorman,Elevator,Exclusive,...,ada,door_excl,fitness_oriented,lux_score,num_features,num_luxury,outdoor_score,pets_allowed,price_per_num_lux,price_per_feature
0,apartment,0.069753,0.479504,0.023694,0.117704,0.460075,0.450058,0.441973,0.539684,0.032865,...,0.029929,0.009815,0.055835,0.239378,5.795607,2.393781,0.075653,0.449294,1754.609682,920.973379
1,condominium,0.114796,0.576531,0.086735,0.232143,0.622449,0.561224,0.780612,0.780612,0.104592,...,0.094388,0.079082,0.178571,0.394388,8.380102,3.943878,0.140306,0.561224,1637.341894,812.735365
2,loft,0.022321,0.491071,0.013393,0.058036,0.379464,0.477679,0.267857,0.468750,0.102679,...,0.031250,0.017857,0.008929,0.183929,4.825893,1.839286,0.049107,0.477679,3017.457735,1471.562745
3,other,0.046408,0.480468,0.024939,0.081356,0.321953,0.445763,0.372720,0.487651,0.065456,...,0.019855,0.008797,0.039952,0.196061,4.643906,1.960613,0.052098,0.444794,2194.651349,1257.191960
4,ph,0.091613,0.485161,0.032258,0.140645,0.544516,0.461935,0.487742,0.558710,0.032258,...,0.019355,0.023226,0.069677,0.269032,6.454194,2.690323,0.103011,0.460645,1704.782428,836.909230

In [137]:
avgs = g1[['type','lux_score', 'num_features', 'num_luxury','outdoor_score', 'price_per_num_lux', 'price_per_feature']]

In [138]:
avgs.columns = ['avg_'+x for x in avgs]
avgs.rename(columns={'avg_type':'type'}, inplace=True)

/Users/Braden/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [140]:
avgs.head()

,type,avg_lux_score,avg_num_features,avg_num_luxury,avg_outdoor_score,avg_price_per_num_lux,avg_price_per_feature
0,apartment,0.239378,5.795607,2.393781,0.075653,1754.609682,920.973379
1,condominium,0.394388,8.380102,3.943878,0.140306,1637.341894,812.735365
2,loft,0.183929,4.825893,1.839286,0.049107,3017.457735,1471.562745
3,other,0.196061,4.643906,1.960613,0.052098,2194.651349,1257.191960
4,ph,0.269032,6.454194,2.690323,0.103011,1704.782428,836.909230

In [141]:
avgAdded = pd.merge(interaction_typed, avgs, on='type')

I replaced null values with the average to not skew the results. Avaging will result in a ratio of 1 indicating that this property is not differentiated from the rest.

In [156]:
avgAdded['price_per_num_lux'].fillna(avgAdded['avg_price_per_num_lux'], inplace=True)
avgAdded['outdoor_score'].fillna(avgAdded['avg_outdoor_score'], inplace=True)
avgAdded['lux_score'].fillna(avgAdded['avg_lux_score'], inplace=True)
avgAdded['price_per_feature'].fillna(avgAdded['avg_price_per_feature'], inplace=True)

avgAdded['price_lux_ratio'] = avgAdded['price_per_num_lux']/avgAdded['avg_price_per_num_lux']
avgAdded['outdoor_ratio'] = avgAdded['outdoor_score']/avgAdded['avg_outdoor_score']
avgAdded['lux_ratio'] = avgAdded['lux_score']/avgAdded['avg_lux_score']
avgAdded['price_feature_ratio'] = avgAdded['price_per_feature']/avgAdded['avg_price_per_feature']

In [157]:
avgAdded.to_json('./typedData/compsTypedInteraction.json')