In [2]:
import numpy as np
import pandas as pd

In [3]:
train = pd.read_json('train_data.json')
test = pd.read_json('test_data.json')

In [4]:
train.describe()

,Balcony,Cats Allowed,Common Outdoor Space,Dining Room,Dishwasher,Dogs Allowed,Doorman,Elevator,Exclusive,Fitness Center,...,Terrace,Wheelchair Access,bathrooms,bedrooms,index,latitude,level_0,listing_id,longitude,price
count,41918.000000,41918.000000,41918.000000,41918.000000,41918.000000,41918.000000,41918.000000,41918.000000,41918.000000,41918.000000,...,41918.000000,41918.000000,41918.000000,41918.000000,41918.000000,41918.000000,41918.000000,4.191800e+04,41918.000000,4.191800e+04
mean,0.061239,0.478052,0.026170,0.104299,0.413068,0.447373,0.422515,0.524953,0.044372,0.270123,...,0.046376,0.027745,1.211950,1.537621,62028.264612,40.742705,24646.531800,7.024133e+06,-73.957629,3.829015e+03
std,0.239770,0.499524,0.159643,0.305652,0.492391,0.497229,0.493966,0.499383,0.205923,0.444028,...,0.210301,0.164242,0.502177,1.114057,35769.640616,0.600334,14248.642743,1.260963e+05,1.110224,2.334703e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,6.811957e+06,-118.271000,4.300000e+01
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,31064.250000,40.728300,12325.250000,6.916416e+06,-73.991700,2.495000e+03
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,61901.500000,40.751800,24692.500000,7.021090e+06,-73.977900,3.150000e+03
75%,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,1.000000,2.000000,93043.250000,40.774300,36942.750000,7.128524e+06,-73.954700,4.100000e+03
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,10.000000,8.000000,124009.000000,44.603800,49350.000000,7.753784e+06,0.000000,4.490000e+06