In [77]:
import pandas as pd
import numpy as np

In [78]:
typed = pd.read_json('./rawData/cleanedTyped.json')

In [79]:
typed.drop('0', axis=1, inplace=True)

ValueError: labels ['0'] not contained in axis

In [ ]:
typed.info()

In [ ]:
interaction = pd.read_json('./typedData/withInteraction.json')
interaction['price_per_num_lux'] = interaction['price']/interaction['num_luxury']

In [ ]:
typeCols = typed.columns
interCols = interaction.columns

In [ ]:
interCols = [x for x in interCols if x not in typeCols]

In [ ]:
typeCols

In [80]:
interCols

['Loft',
 'ada',
 'door_excl',
 'fitness_oriented',
 'lux_score',
 'num_features',
 'num_luxury',
 'outdoor_score',
 'pets_allowed',
 'price_per_num_lux']

In [81]:
m1 = pd.DataFrame(interaction[interCols])
m1.drop('Loft', axis=1, inplace=True)
m1.replace(np.inf, np.nan, inplace=True)

In [82]:
m1.head()

,ada,door_excl,fitness_oriented,lux_score,num_features,num_luxury,outdoor_score,pets_allowed,price_per_num_lux
0,0,0,0,0.0,0,0,0.0,0,NaN
1,0,0,0,0.3,5,3,0.0,1,1821.666667
10,0,0,0,0.4,6,4,0.0,0,1300.000000
100,0,0,0,0.0,1,0,0.0,0,NaN
1000,0,0,0,0.4,7,4,0.0,0,575.000000

In [83]:
interaction_typed = pd.concat([typed, m1], axis=1)

In [84]:
interaction_typed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41918 entries, 0 to 9999
Data columns (total 57 columns):
Balcony                 41918 non-null int64
Cats_Allowed            41918 non-null int64
Common_Outdoor_Space    41918 non-null int64
Dining_Room             41918 non-null int64
Dishwasher              41918 non-null int64
Dogs_Allowed            41918 non-null int64
Doorman                 41918 non-null int64
Elevator                41918 non-null int64
Exclusive               41918 non-null int64
Fitness_Center          41918 non-null int64
Garden_Patio            41918 non-null int64
Hardwood_Floors         41918 non-null int64
High_Speed_Internet     41918 non-null int64
Laundry_in_Unit         41918 non-null int64
New_Construction        41918 non-null int64
No_Fee                  41918 non-null int64
Outdoor_Space           41918 non-null int64
Pre_War                 41918 non-null int64
Roof_Deck               41918 non-null int64
Swimming_Pool           41918 non-null int64
Terrace                 41918 non-null int64
Wheelchair_Access       41918 non-null int64
apartment               41918 non-null int64
bathrooms               41918 non-null float64
bedrooms                41918 non-null int64
building_id             41918 non-null object
condominium             41918 non-null int64
created                 41918 non-null object
description             41918 non-null object
display_address         41918 non-null object
features                41918 non-null object
foundType               41918 non-null bool
interestVal             41918 non-null float64
interest_level          41918 non-null object
latitude                41918 non-null float64
laundry_in_building     41918 non-null int64
listing_id              41918 non-null int64
loft                    41918 non-null int64
longitude               41918 non-null float64
manager_id              41918 non-null object
other                   41918 non-null int64
ph                      41918 non-null int64
price                   41918 non-null int64
street_address          41918 non-null object
studio                  41918 non-null int64
townhome                41918 non-null int64
type                    41918 non-null object
walk_up                 41918 non-null int64
ada                     41918 non-null int64
door_excl               41918 non-null int64
fitness_oriented        41918 non-null int64
lux_score               41918 non-null float64
num_features            41918 non-null int64
num_luxury              41918 non-null int64
outdoor_score           41918 non-null float64
pets_allowed            41918 non-null int64
price_per_num_lux       31650 non-null float64
dtypes: bool(1), float64(7), int64(40), object(9)
memory usage: 18.3+ MB

In [111]:
interaction_typed['price_per_feature'] = interaction_typed['price']/interaction_typed['num_features']

In [112]:
g1 = interaction_typed.groupby(['type']).mean()
g1.reset_index(inplace=True)

In [113]:
avgs = g1[['type','lux_score', 'num_features', 'num_luxury','outdoor_score', 'price_per_num_lux', 'price_per_feature']]

In [114]:
avgs.columns = ['avg_'+x for x in avgs]
avgs.rename(columns={'avg_type':'type'}, inplace=True)

/Users/Braden/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [115]:
avgAdded = pd.merge(interaction_typed, avgs, on='type')

In [117]:
avgAdded['price_lux_ratio'] = avgAdded['price_per_num_lux']/avgAdded['avg_price_per_num_lux']
avgAdded['outdoor_ratio'] = avgAdded['outdoor_score']/avgAdded['avg_outdoor_score']
avgAdded['lux_ratio'] = avgAdded['lux_score']/avgAdded['avg_lux_score']
avgAdded['price_feature_ratio'] = avgAdded['price_per_feature']/avgAdded['avg_price_per_feature']

In [118]:
avgAdded.to_json('./typedData/compsTypedInteraction.json')